{% extends 'dashboard/base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block titlePage %}
Projets <a href="{{ path('dashboard_projets_create') }}" class="btn btn-primary btn-link text-white ml-2"><i class="fas fa-plus-circle pr-2"></i>
    Ajouter</a>
{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Titre</th>
                <th scope="col" class="text-center table-mobile-responsive">Description</th>
                <th scope="col" class="text-center table-mobile-responsive">Technologies</th>
                <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for projet in projets %}
                <tr>
                    <td class="text-center">{{ projet.id }}</td>
                    <td class="text-center">{{ projet.title }}</td>
                    <td class="text-center table-mobile-responsive">{{ projet.content }}</td>
                    <td class="text-center table-mobile-responsive">
                        {% for technologie in projet.technologies %}
                            {{ technologie.name }}
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('dashboard_projets_edit', {'id': projet.id}) }}" class="mr-2"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('dashboard_projets_delete', {'id': projet.id}) }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}